@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-width: 6px;
  --color-bg: rgba(47, 72, 124, 0.6);
  --color-bg-tr: rgba(47, 72, 124, 0.4);
  --color-bg-hl: rgba(63, 103, 205, 0.8);
  --color-bg-hl-tr: rgba(63, 103, 205, 0.8);
  --color-bd: rgb(28, 42, 73);
  --color-bd-hl: rgb(95, 135, 221);
  --font-size-heading: 22px;
  --font-size-content: 18px;
  --slot-size: 105px;
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-purple h-full;
  }

  h1 {
    @apply font-bold text-3xl;
  }

  h2 {
    @apply font-bold text-2xl;
  }

  h3 {
    @apply font-semibold text-lg;
  }

  a:not(.nav-link) {
    @apply font-semibold underline;
  }
}

@layer components {
  .markdown {
    @apply text-white;

    h1 {
      @apply mt-8;
    }

    h2 {
      @apply mt-4;
    }

    h3 {
      @apply mt-3;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      a {
        @apply text-white no-underline hover:underline;
      }
    }

    a {
      @apply text-yellow-400;
    }

    nav a {
      @apply text-sm;
    }

    code {
      @apply font-mono text-sm bg-black bg-opacity-60 text-white py-1 px-2 rounded-md whitespace-nowrap;
    }

    :not(h1, h2, h3, h4, h5, h6) + p {
      @apply mt-2;
    }

    ol,
    ul {
      @apply pl-5;
    }

    li {
      @apply list-outside list-disc;
    }
  }

  .n64-box {
    background: linear-gradient(
      120deg,
      var(--color-bg) 10%,
      var(--color-bg-hl) 30%,
      var(--color-bg-hl) 40%,
      var(--color-bg) 60%,
      var(--color-bg-hl-tr) 80%,
      var(--color-bg-tr)
    );

    .box {
      border-color: var(--color-bd-hl) var(--color-bd) var(--color-bd) var(--color-bd-hl);
      border-width: var(--border-width);
    }

    header {
      @apply flex;

      .slot {
        background: linear-gradient(
          90deg,
          var(--color-bg-hl-tr) 0%,
          var(--color-bg-tr) 80%,
          var(--color-bg-hl-tr)
        );
        text-shadow: 2px 1px 5px var(--color-bd-hl);
      }

      hr {
        border-color: var(--color-bd);
        @apply border-2 mt-2;
      }
    }

    .hack-slot {
      border-color: var(--color-bd-hl) var(--color-bd) var(--color-bd) var(--color-bd-hl);
    }

    .hack-heading {
      border-color: var(--color-bd-hl) var(--color-bd) var(--color-bd) var(--color-bd-hl);
      height: var(--border-width);
    }

    article {
      font-size: var(--font-size-content);

      &:first-child {
        @apply border-t-solid;
      }
    }
  }
}

@layer utilities {
  .border-t-none {
    border-top-style: none;
  }

  .border-l-none {
    border-left-style: none;
  }

  .border-r-none {
    border-right-style: none;
  }

  .border-b-none {
    border-bottom-style: none;
  }

  .border-t-solid {
    border-top-style: solid;
  }

  .border-l-solid {
    border-left-style: solid;
  }

  .border-r-solid {
    border-right-style: solid;
  }

  .border-b-solid {
    border-bottom-style: solid;
  }
}
